.container {
	padding: 5px;
	width: 130px;
	background-color: lightgrey;
	height: 150px;
    border-radius: 10px;
	border: 1px solid red;
	margin-bottom: 15px;
}

.containerIMG {
	display: flex;
	margin: auto;
	width: 130px;
	height: 100px;
    border-radius: 5px;
}

.containerIMG img{
	width: 130px;
	border-radius: 5px;
	border: 1px solid black;
}

@media screen and (min-width: 420px) {
    .container{
		width:	150px;
		height: 210px;
	}

	.informacoes a {
		margin-top: 10px;
	}

	.containerIMG {
		width: 145px;
		height: 145px;
	}

	.containerIMG img {
		width: 145px;
		height: 145px;
	}

	.informacoes {
		margin-top: 20px;
	}
	
}

.informacoes {
	margin-top: 5px;
	position: relative;
}

.informacoes p {
	font-weight: bold
}

.informacoes a {
	position: absolute;
	top: 18px;
	right: 0;
}

.iconWhats{
	width: 25px;
	margin-left: 5px;
}

.trocaBTN{
	display: flex;
	background-color: green;
	border-radius: 20px;
	align-items: center;
	padding: 3px;
	padding-left: 5px;
	font-weight: bold;
	color: white;
	border: 1px solid white;
}

a {
	text-decoration: none;
}