.container {
	padding: 5px;
	width: 130px;
	background-color: lightgrey;
	height: 150px;
    border-radius: 10px;
	border: 1px solid red;
	margin-bottom: 15px;
}

.containerIMG {
	display: flex;
	margin: auto;
	width: 100px;
	height: 100px;
	/* background-color: black; */
    border-radius: 5px;
}

.informacoes {
	margin-top: 5px;
}

.informacoes a {
	float: right;
}
